@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --linear-grad: linear-gradient(to right, #141e30, #24eb55);
  --grid-clr1: #141e30;
  --grid-clr2: #24eb55;
  --size: 35vw;
  --shadow: 35px;
  --primary: white;
  --secondary: black;
}

h1 {
  font-family: "Gupter", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

h2 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
nav {
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.navbar {
  padding: 10px;
}

nav img {
  height: 35px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: antiquewhite;
}

/* Home page */
/* Hero Section Styling */

.wine-hero {
  padding: 3rem 2rem;
  background: url("/image/wine-bg-hero.jpg") no-repeat center center/cover;
  color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wine-description {
  max-width: 700px;
  color: red;
}

.wine-title {
  font-family: "Georgia", serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.wine-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.wine-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.wine-image {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  height: 300px;
}

.wine-details {
  text-align: center;
  color: red;
}

.wine-product-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.wine-price {
  font-size: 1.1rem;
}

#main-nav {}

#main-nav .container-fluid {
  padding: 0;
}

@keyframes HeroHeader {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  place-content: center;
}

.container {
  position: relative;
  width: 70vw;
  height: 80vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ffece5, #62beb6);
  z-index: 6;
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

.signin-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.sign-in-form>h2 {
  font-family: "Raleway", sans-serif;
}

.sign-up-form>h2 {
  font-family: "Raleway", sans-serif;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}

form.sign-in-form {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

form.sign-up-form {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

.title {
  font-size: 35px;
  color: var(--grid-clr1);
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  height: 50px;
  background: #f0f0f0;
  margin: 20px 0;
  border: 1px solid var(--grid-clr1);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.input-field i {
  flex: 1;
  text-align: center;
  color: #666;
  font-size: 18px;
}

.input-field input {
  flex: 5;
  background: #f0f0f0; /* match the container background and avoid UA/background bleed */
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  color: #444;
  border-radius: 20px;
}

/* Prevent browser autofill (user agent) background from overriding our styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #444 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f0f0f0 inset !important;
  box-shadow: 0 0 0px 1000px #f0f0f0 inset !important;
}

.home-btn {
  border-radius: 20px;
  border: 1px solid var(--grid-clr1);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: #6dbb98;
}

.content .btn {
  border-radius: 20px;
  border: 1px solid var(--grid-clr1);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: #6dbb98;
}

.content .btn:hover {
  background: var(--grid-clr1);
  background-color: #f8ece3;
}

.home-btn:hover {
  background: var(--grid-clr1);
  background-color: #f8ece3;
}

.social-text {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  border: 1px solid #444;
  border-radius: 50px;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

.social-icon:hover {
  color: #6dbb98;
  border-color: var(--grid-clr1);
}

.panels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.panels-container h3 {
  font-family: "Raleway", sans-serif;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
  z-index: 6;
  gap: 40px;
}

.left-panel {
  pointer-events: none;
}

.content {
  color: #fff;
  transition: 1.1s ease-in-out;
  transition-delay: 0.5s;
}

.panel h3 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.panel p {
  font-size: 15px;
  padding: 10px 0;
  margin: 20px 0;
  color: black;
  font-weight: 500;
}

.image {
  width: 100%;
  transition: 1.1s ease-in-out;
  transition-delay: 0.4s;
  padding: 50px;
  object-fit: cover;
}

.left-panel .image,
.left-panel .content {
  transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
  transform: translateX(0);
}

.account-text {
  display: none;
}

/*Animation*/
.container.sign-up-mode::before {
  transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
  opacity: 1;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
}

.container.sign-up-mode .right-panel {
  pointer-events: none;
}

.container.sign-up-mode .left-panel {
  pointer-events: all;
}

/*Responsive*/
@media (max-width: 779px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 635px) {
  .container::before {
    display: none;
  }

  form {
    width: 80% !important;
  }

  form.sign-up-form {
    display: none;
  }

  .container.sign-up-mode2 form.sign-up-form {
    display: flex;
    opacity: 1;
  }

  .container.sign-up-mode2 form.sign-in-form {
    display: none;
  }

  .panels-container {
    display: none;
  }

  .account-text {
    display: initial;
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  form {
    width: 90%;
  }

  /* .form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container{
    opacity: 0;
    z-index: 1;
}

.sign-in-container{
    z-index: 2;
} */
}

h1 {
  color: var(--grid-clr1);
}

span {
  font-size: 12px;
}

.field {
  position: relative;
  margin: 8px 0px;
  width: 100%;
}

.field input[type="email"] {
  padding-left: 30px;
  box-sizing: border-box;
  width: 100%;
}

.field i.fa-envelope {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  /* Ensure the icon does not block input events  */
}

.field input[type="password"] {
  padding-left: 30px;
  box-sizing: border-box;
  width: 100%;
}

.field i.fa-lock {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.field input[type="text"] {
  padding-left: 30px;
  box-sizing: border-box;
  width: 100%;
}

.field i.fa-user {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  pointer-events: none;
}

label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: var(--linear-grad);
  transition: 0.3s;
}

input {
  width: 100%;
  padding: 12px;
}

input:focus~label {
  width: 100%;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0px;
}

a .forget {
  padding-bottom: 3px;
  border-bottom: 2px solid #eee;
}

button {
  /* border-radius: 20px;
border: 1px solid var(--grid-clr1);
background: var(--grid-clr2);
color: #ffffff;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase; */
}




/* p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
} */

/* Media Queries */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .form-container {
        width: 100%;
        position: relative;
        top: auto;
        height: auto;
        padding: 20px;
    }

    .overlay-container {
        display: none;
    }

    .sign-up-container,
    .sign-in-container {
        width: 100%;
    }
} */

/* Home page End */

/* Recipe Page */

.search-bar {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 200px auto 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  flex: 1;
  height: 50px;
  background: #333;
  padding: 10px 40px 10px 20px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  padding-right: 50px; /* ensure icon doesn’t overlap typed text */
}

.search-bar i.fa-magnifying-glass {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
  pointer-events: none;
}

.form {
  width: 100%;
  position: relative;
}


.form span {
  position: absolute;
  left: 90%;
  top: 15px;
  padding: 2px;
  border-left: 1.5px solid white;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

#input-box {
  width: 100%;
  /* Ensure the input box takes up the full width of the container */
  padding: 10px 50px;
  /* Add padding to accommodate the icon and button */
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Includes padding in the element's total width and height */
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

#suggestions.show {
  opacity: 1;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#input-box:focus {
  border-color: #007bff;
  outline: none;
}

/* Search bar end  */

/* Cusines Section */

.cuisenes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.cuisnes-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.cuisnes-list h2 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.8rem;
}

.cuisnes-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.cuisnes-list div a:hover img {
  animation: animatebounce 1s ease infinite;
}

@keyframes animatebounce {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.cuisnes-list img {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.cuisine-container {
  display: flex;
  justify-content: center;
  margin: 0px 100px;
  flex-wrap: wrap;
}

.cuisine-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.cuisine-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  list-style: none;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.cuisine-container li img {
  border-radius: 25px;
  border: 2px solid;
  object-fit: cover;
  width: 100%;
  height: 300px;
  display: block;
}

.cuisine-container li img:hover {
  transform: scale(1.1);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.cuisine-container h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
}

.cusine-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 25px;
}

.get-recipe-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white background */
  padding: 10px 20px;
  border-radius: 5px;
}

.image-container:hover .cusine-overlay {
  opacity: 1;
}



/* -----------------------------Random Recipe ------------------------------------- */

/* Custom styles for trending section */

#trending,
#trending-desserts,
#trending-healthy {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#trending h1,
#trending-desserts h1,
#trending-healthy h1 {
  font-size: 6rem;
}

.recipe-headers {
  width: auto;
  margin: 100px 0px;
}

.recipe-headers img {
  width: 50px;
  height: 50px;
  background-image: url("/image/book.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.recipeInfo-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.glide,
.glide-desserts,
.glide-healthy {
  width: 80%;
  padding: 20px 0;
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide-card {
  display: flex;
  align-items: center;
  background: #333;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 63%);
  width: 100%;
  margin: 10px 0;
  max-width: 350px;
  position: relative;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.glide-card-container {
  height: 100%;
  min-height: 500px;
  width: 90%;
}

.glide-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  color: white;
  z-index: 9999;
}

.glide-card-info p {
  font-size: 2rem;
}

.glide-card-info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  border-radius: 25px;
}

.glide-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  column-gap: 1.2rem;
}

.glide-icons::before {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.glide-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.4rem;
  margin-top: 10px;
}

.view-recipe-btn {
  cursor: pointer;
  border: 1px solid;
  text-transform: uppercase;
  padding: 5px 5px;
  transition: color 0.4s linear;
  position: relative;
  transition: 0.5s;
  color: black;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
}

.glide-card>button:hover {
  color: none;
}

.glide-card button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: transform 0.5s ease;
  transform-origin: left;
  transform: scaleX(1);
}

/* .glide-card button:hover::before{
transform-origin: right;
transition: transform 0.5s ease;
transform: scaleX(0);
} */

.glide__bullet {
  border: 1.5px solid black;
  background-color: var(--bs-code-color);
}

.glide__bullet:hover {
  border: 1.5px solid black;
  background-color: black;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: none !important;
  background-color: black !important;
}

.glide__bullets {
  bottom: 0%;
  padding: 40px 0;
  position: relative;
}

.glide__bullet--active {
  background-color: black !important;
  border: 1.5px solid black;
}

.glide-card-image {
  width: 100%;
  position: relative;
  max-width: 350px;
}

.glide-card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  display: block;
  margin-bottom: 10px;
}

.glide-card-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border-radius: 15px;
}

.glide-card h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.glide-card p {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.glide-card-memory {
  display: flex;
  gap: 45px;
  margin: 15px 0;
  align-items: start;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.glide-card-memory button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 15px 15px;
  position: relative;
  color: white;
  text-decoration: none;
  overflow: hidden;
  border-radius: 100%;
  z-index: 5;
}

.glide-card-memory button:hover {
  animation: heartBeatAnimation 1s ease infinite;
  background-color: azure;
}

.glide-card-memory .fa-solid .fa-heart {
  color: red;
  font-size: 16px;
}

.glide-card-memory .fa-solid .fa-star {
  color: gold;
  font-size: 16px;
}

/* Animation only works while hovering */
@keyframes heartBeatAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.custom-icon {
  color: gold;
  font-size: 16px;
}

.custom-icon2 {
  color: red;
  font-size: 16px;
}

#healthy {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

#healthy h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.healthy-glide {
  width: 80%;
  padding: 20px 0;
}

.healthy glide__slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cuisine Nav Type */

#cuisine h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 15px 0;
}

.cuisine-content {
  display: flex;
  justify-content: space-evenly;
}

.cuisine-content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
}

.cuisine-content h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

/* Recipe Page End */

/* RecipeInfo page */
#recipeInfo {
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeInfo-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.recipeInfo-container h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: caveat;
}

.recipe-header {
  display: flex;
  flex-direction: column;
}

.recipe-header img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.recipe-header figure {
  display: flex;
  justify-content: center;
}

.recipe-details {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-items: center;
  width: 100%;
  padding: 20px;
  align-items: baseline;
  gap: 10px;
}

.recipe-details img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipe-details h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  font-size: 1.8em;
  color: #333;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.recipe-details ul li {
  font-family: "Playfair Display", serif;
}

@media (max-width: 700px) {
  .recipe-details {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.ingredients {
  font-family: "Playfair Display", serif;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.ingredients li {
  display: flex;
}

.ingredients li img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.directions {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  justify-content: center;
}

.directions p {
  font-family: "Playfair Display", serif;
}

.recipe-details div {
  margin-top: 15px;
  line-height: 1.6;
  color: #444;
}

.instructions-content {
  text-align: center;
}

a[href="/api"] {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #ff6f61;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a[href="/api"]:hover {
  background-color: #ff3d2e;
}

.ingredient-icons img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#recipeReturn-btn {
  margin-top: 2rem;
  text-align: center;
}

#recipeReturn-btn a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #ff6b6b;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#recipeReturn-btn a:hover {
  background-color: #ff4c4c;
  transform: scale(1.05);
}

/* RecipeInfo End */

/* Cussine Page */

/* Cussine Page End */

/* Profile Page */
/* Create Recipe */

/* wine section */

.hero-wine-section {
  padding: 3rem 1rem;
  background-image: url(/image/wine-bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  z-index: 1;
}

.hero-wine-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  /* adjust for desired darkness */
  z-index: -1;
}

.hero-wine-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hero-wine-text {
  flex: 1 1 300px;
  max-width: 600px;
  color: #333;
}

.hero-wine-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #8b0000;
}

.hero-wine-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 500;
}

.hero-wine-image {
  flex: 1 1 250px;
  max-width: 400px;
  text-align: center;
}

.hero-wine-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.hero-wine-image h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #444;
}

.hero-wine-image p {
  font-size: 1rem;
  color: #555;
}

.btn-hero {
  display: inline-block;
  background-color: #8b0000;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-hero:hover {
  background-color: #a52a2a;
}

/* Responsive for smaller devices */
@media (max-width: 768px) {
  .hero-wine-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-wine-text,
  .hero-wine-image {
    max-width: 100%;
  }

  .hero-wine-text h2 {
    font-size: 1.5rem;
  }
}

/* wine section end */

.create-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: white;
  margin: auto;
  background-color: whitesmoke;
}

.create-content {
  position: relative;
  z-index: 2;
  /* Bring content to front */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 40px;
}

.create-content h2 {
  text-align: center;
  font-family: "Gupter", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.create-content form {
  display: inline-grid;
  gap: 10px;
  margin: 20px 0;
  z-index: 2;
}

.create-content .form-text {
  color: black !important;
}

/* Create Recipe  Form */
.create-container h1 {
  position: relative;
  text-align: center;
  font-family: "Amatic SC";
  font-size: 2rem;
  color: #333;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
  margin: 20px 0;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 20%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cookingAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}

#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }

  25% {
    top: 10%;
    transform: rotateX(0deg);
  }

  50% {
    top: 30%;
    transform: rotateX(85deg);
  }

  75% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(85deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-27deg);
  }

  30%,
  50% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(27deg);
  }

  83.3% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }

  10% {
    bottom: 40%;
  }

  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }

  80% {
    bottom: 40%;
  }

  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }

  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }

  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}

/* Media Quries  */
/* extra small devices */
/* Recipe Page */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .search-bar {
    margin: 50px auto;
    /* Further adjust margin for very small screens */
  }

  .search-bar input {
    height: 40px;
    /* Reduce height for smaller screens */
    font-size: 14px;
    /* Even smaller font size */
    padding: 10px 25px 10px 10px;
    /* Adjust padding */
    width: 400px;
  }

  .form {
    width: 100%;
  }

  .form .fa-search {
    top: 30%;
    /* Adjust icon position */
    left: 5%;
    position: absolute;
  }

  .form span {
    top: 10px;
    /* Adjust position for smaller screens */
  }

  .left-pan i {
    font-size: 14px;
    /* Smaller icon size */
  }

  .cuisnes-list img {
    height: 45px;
    width: 45px;
  }

  .cuisnes-list h2 {
    font-size: 1.1rem;
  }

  .cuisnes-list {
    gap: 30px;
  }

  #trending h1,
  #trending-desserts h1,
  #trending-healthy h1 {
    font-size: 3rem;
    padding: 5px;
  }

  .recipe-hero {
    height: 50vh;
  }

  .recipe-headers {
    margin: 0;
    /* border: 2px solid; */
    width: auto;
  }

  #input-box {
    width: 100%;
  }

  .hero-content {
    padding: 0 10px;
  }

  .hero-content h2 {
    font-size: 3em;
    font-family: "Raleway", sans-serif;
  }

  .hero-content p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .search-bar {
    max-width: 270px;
  }

  #second-nav {
    display: flex;
  }

  #cuisenes {
    margin: 50px 0px;
    padding: 20px;
    width: 100%;
    display: flex;
    height: auto;
  }

  /* Recipe Info page */
  .recipeInfo-details {
    flex-direction: column;
  }

  .recipeInfo-container h1 {
    font-size: 1.5em;
  }

  .recipe-details h2 {
    font-size: 1.5em;
  }
}

@media (mix-width: 481px) and (max-width: 576px) {
  #input-box {
    width: 100%;
  }

  .form span {
    left: 85%;
    top: 15px;
  }

  .cuisnes-list {
    gap: 30px;
  }

  .cuisnes-list h2 {
    font-size: 1.2rem;
  }

  #trending h1,
  #trending-desserts h1,
  #trending-healthy h1 {
    font-size: 5rem;
  }

  .hero-content h2 {
    font-family: "Raleway", sans-serif;
  }

  /* Recipe Info page */
  .recipeInfo-details {
    flex-direction: column;
  }

  .recipeInfo-container h1 {
    font-size: 1.5em;
  }

  .recipe-details h2 {
    font-size: 1.5em;
  }
}

@media (mix-width: 577px) and (max-width: 767px) {
  .hero-content h2 {
    font-family: "Raleway", sans-serif;
    font-size: 4em;
  }

  .hero-content p {
    font-size: 1.1rem;
  }

  .form span {
    left: 90%;
  }

  .glide-card-memory {
    gap: 30px;
  }

  /* Recipe Info page */
  .recipeInfo-details {
    flex-direction: column;
  }

  .recipeInfo-container h1 {
    font-size: 1.5em;
  }

  .recipe-details h2 {
    font-size: 1.5em;
  }
}

@media (mix-width: 768px) and (max-width: 991px) {
  .glide-card-memory {
    gap: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .cuisnes-list {
    display: flex;
    flex-direction: column;
  }

  .glide-card {
    height: 500px;
  }

  .glide-card-image img {
    height: 200px;
  }

  .glide-card-image .overlay {
    height: 200px;
  }

  .glide-card p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .glide-card-memory button {
    padding: 10px 10px;
  }

  .glide-card form {
    text-align: center;
  }

  .glide-card-memory form {
    width: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav ul {
    margin-bottom: 0;
  }

  .hero-content h2 {
    font-size: 3em;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .recipe-headers {
    max-width: 600px;
  }

  .search-bar {
    max-width: 500px;
  }

  #cuisenes {
    margin: 0;
  }

  .glide form,
  .glide-desserts form,
  .glide-healthy form {
    text-align: center;
  }

  .cuisnes-list {
    gap: 30px;
  }

  .cuisnes-list h2 {
    font-size: 1rem;
  }

  .cuisine-container {
    margin-top: 50px;
  }

  .cuisine-container ul {
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .cuisine-container li img {
    height: 200px;
  }

  .cuisine-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cuisnes-list h2 {
    font-size: 1.5rem;
  }

  .cuisnes-list img {
    width: 50px;
    height: 50px;
  }

  .search-bar input {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .search-bar {
    margin: 100px auto;
    /* Adjust margin for smaller screens */
  }

  .search-bar input {
    font-size: 16px;
    /* Smaller font size for mobile */
    padding: 10px 30px 10px 15px;
    /* Adjust padding */
    width: 500px;
  }
}

/* User Profile Page */

#user-card,
#user-card2,
#user-card3,
#user-card4 {
  min-height: auto;
  /* Let content define height */
  width: 90%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin: 0 auto;
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}


#user-card:hover,
#user-card2:hover,
#user-card3:hover,
#user-card4:hover {
  transform: scale(1.01);
}

.background-wrapper {
  background-image: url("/image/beautiful-delicious-dessert-copy-space-notepad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  align-items: start;
  position: relative;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Black overlay with 50% opacity */
  z-index: 1;
  /* Ensure the overlay is on top of the background but below the content */
}

.background-wrapper>* {
  position: relative;
  z-index: 2;
  /* Ensure the actual content is above the overlay */
}

@media (max-width: 400px) {
  .background-wrapper {
    padding: 10px;
    grid-template-columns: 1fr;
  }
}

#user-card3 {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Mobile-first responsiveness */
@media (max-width: 768px) {
  .background-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #user-card,
  #user-card2,
  #user-card3,
  #user-card4 {
    transition: transform 0.3s ease;
  }

  #user-card:hover,
  #user-card2:hover,
  #user-card3:hover,
  #user-card4:hover {
    transform: scale(1.01);
  }

  #user-card {
    margin-top: 100px;
  }

  .create-container {
    padding: 10px;
  }
}

.background-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

.badge {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
}

.badge-text {
  font-weight: bold;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /* Prevents interaction with circles */
}

.circle-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3498db;
}

/* Recipe history grid layout */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#favorite-btn {
  display: flex;
}

.custom-popup {
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  padding: 25px;
}

.custom-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.custom-confirm-btn {
  background-color: #8a1538;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.custom-confirm-btn:hover {
  background-color: #a21e49;
}

.custom-cancel-btn {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  margin-left: 10px;
  border: none;
}

#recipeForm .mb-3 h6 {
  color: black;
}

/* User Profile Page End  */

/* Styling for the Recipe History Section */
.recipe-history {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.recipe-history h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Layout of Recipe Cards */
/* Profile Favorite Recipes  */

.favorite-glide .glide__slides {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.favorite-recipe-card {
  background: #fff;
  max-width: 300px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  transition: transform 0.3s ease;
}


.favorite-recipe-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .favorite-recipe-card {
    max-width: 90vw;
    height: auto;
  }
}

.card-header {
  position: relative;
  height: 225px;
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #17bebb;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(23, 190, 187, 0.6);
  font-size: 1.2rem;
}

.card-body {
  padding: 20px 25px;
  color: #212129;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.card-body .food-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card-body p {
  color: #555;
  margin: 5px 0;
  font-size: 0.95rem;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  gap: 40px;
}

.btn-group button {
  padding: 10px 15px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.btn-group button:hover {
  background: #17bebb;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #4caf50;
}

.col-xl h2 {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.remove-fav-btn {
  cursor: pointer;
  background: none;
  padding: 15px 15px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border: none;
  z-index: 5;
}

/* Profile page Gilde button */
.glide__arrows {
  position: inherit;
  top: 0;
  width: 100%;
}

.glide__arrows button {
  background: #4caf50;
}

/* Profile triva questions */
.fun-facts {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.fun-facts h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.fun-facts button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fun-facts button:hover {
  background-color: #45a049;
}